@{
  Layout = "_Layout";
}

<h1>Welcome to Sofia's Grocery Store </h1>
<p>@Html.ActionLink("See all invoices", "Index", "Invoices")</p> <p>@Html.ActionLink("See all products", "Index", "Products")</p>
